$small: 520px;
$large: 960px;

$red: #D73838;

@mixin s {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin m {
  @media (min-width: #{$small + 1px}) {
    @content;
  }
}

@mixin l {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin redFrame {
  border: 2px solid white;
  transition: border .5s;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;

  &:not([disabled]) {
    border-left: 2px solid $red;
    border-right: 2px solid $red;
  }

  &:not([disabled]):hover, &:not([disabled]):focus {
    border: 2px solid $red;
  }
}
