$small: 480px;
$large: 960px;

$red: #D73838;

@mixin s {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin m {
  @media (min-width: #{$small + 1px}) {
    @content;
  }
}

@mixin l {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin redFrame {
  border-left: 2px solid $red;
  border-right: 2px solid $red;
  border-radius: 7px;
}
