@font-face {
    font-family: 'dejavu_sansbook';
    src: url('/assets/DejaVuSans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.65;
  font-family: 'dejavu_sansbook', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
main {
  margin-top: 5rem;
}
.container {
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  max-width: 60rem;
  width: 85vw;
  margin: 2rem auto;
}
h1 {
  font-size: 2.25rem;
  border-bottom: 4px solid #D73838;
  display: inline-block;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
code,
pre {
  display: block;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
form {
  margin: 2rem auto;
}
fieldset {
  border: none;
  outline: none;
  margin-bottom: 1rem;
}
.button {
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: white;
  padding: .5rem 1.5rem;
  font-size: 1.1rem;
  color: black
}
.button:not([disabled]) {
  cursor: pointer;
}
